{% extends "layout" %}
{% block title %}{{ super() }} | {{ title }} {% endblock %}
{% block body %}
<h1>{{ title }}</h1>
<h2> Personal Projects </h2>
<h3> <a href=https://github.com/bezmuth/nix-config> NixOS config Files </a> </h3>
<h3> <a href=https://github.com/bezmuth/yaros> Yet Another Rust Operating System </a> </h3>
<h3> <a href=https://github.com/bezmuth/crab-boy> Gameboy emulator </a> </h3>
<h3> <a href=https://github.com/bezmuth/snore> Multi-tennant RSS reader web-app </a> </h3>
<h2> Programming Languages </h2>
     <ul>
     <li> Rust </li>
     <li> C </li>
     <li> Nix </li>
     <li> C# </li>
     <li> Python </li>
     <li> Java </li>
     </ul>
{% endblock %}
