{% extends "layout" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
<h1>{{ title }}</h1>
<p>{{ welcome_text }}</p>
<p> Check out my:
<ul>
<li> <a href="/blog"> blog</a> </li>
<li> <a href="https://github.com/bezmuth">github</a> </li>
<li> <a href="/about">about page</a> </li>
<li> (self hosted 😎) <a href="https://social.bezmuth.uk/@bezmuth">fediverse account</a> </li>
</ul>
</p>
<hr>
<div class="flex-container">
  <div class="flex-child magenta">
    <h3>Blog posts</h3>
    <ul>
    {% for post in entries %}
       <li><a href=blog/{{ post[0] }}> {{ post[1] }}</a> {{ post[2] }}</li>
    {% endfor %}
    </ul>
  </div>

  <!-- <div class="flex-child green"> -->
  <!--   <h3>Git activity</h3> -->
  <!--   <ul> -->
  <!--   {% for action in git %} -->
  <!--      <li> {{ action[0] }}</li> -->
  <!--   {% endfor %} -->
  <!--   </ul> -->

  </div>

</div>
{% endblock %}
