<!doctype html>
<html>
  <head>
    <title>{% block title %}Bezmuth{% endblock %}</title>

    <style>
    </style>
    <link rel="stylesheet" href="/style.css">
    <link rel="alternate" type="application/atom+xml" title="Blog" href="/feed.atom" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  </head>
  <body>
    <div class="header">
      <p>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
      </p>
    </div>
    <div class="main">
      {% block body %}{% endblock %}
    </div>
    <footer>
      <div class="footer">
        <hr>
        <p>Follow me on the <a href="https://social.bezmuth.uk/@bezmuth">fediverse</a></p>
      </div>
    </footer>
  </body>
</html>
