<!doctype html>
<link rel="stylesheet" href="/style.css">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<html lang="en">
  <head>
    <title>{% block title %}Bezmuth{% endblock %}</title>
    <link rel="alternate" type="application/atom+xml" title="Blog" href="/feed.atom" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="header">
      <p>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
      </p>
    </div>
    <div class="main">
      {% block body %}{% endblock %}
    </div>
    <footer>
      <div class="footer">
        <hr>
        <p><a href="https://social.bezmuth.uk/@bezmuth">Follow</a> | <a href="http://bezmuth42fbstliipysbznj4fmonjgd7xjciy4smu6fhnku7aypbbkqd.onion/">.onion</a></p>
      </div>
    </footer>
  </body>
</html>
